// Body
$body-bg: #FFFFFF;

//
$minwidth: 320px;
$mw: 1260;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// Typography
$font-family-sans-serif: 'DM Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$AH-links-top-nav-hovers: #8BB021;
$AH-buttons: #A7C452;
$AH-primary-text-headings: #313131;
$Text-lighter-grey: #5C5C5C;
$AH-landing-top-title: #623374;
$AH-top-nav-selected-item: #BD7420;
$AH-basic-light-green: #F6F7EC;
$AH-basic-light-brown: #FAF7F2;
$AH-basic-light-grey: #FAFAFA;
//text
$AH-txt-grey-green: #768376;
$AH-txt-calm-green: #859564;
$AH-txt-calm-brown: #9F7C53;
$AH-txt-warm-grey: #817A7A;
$AH-txt-cool-blue: #6087A7;
$AH-txt-calm-emerald: #52A19C;
$AH-txt-warm-blue: #6087A7;
//background
$AH-bg-light-grey-green: #EBEFEB;
$AH-bg-light-calm-green: #F2F6EA;
$AH-bg-light-calm-brown: #F7ECDF;
$AH-bg-light-warm-grey: #ECECEC;
$AH-bg-light-cool-blue: #EAF2FD;
$AH-bg-light-calm-emerald: #E8F4F4;
$AH-bg-warm-blue: #DFF1FC;
//logo
$AH-logo-red: #C41230;
$AH-logo-light-green: #C1D72E;
$AH-logo-green: #1FB25A;
$AH-logo-brown: #D39D61;
$AH-logo-light-blue: #ADDFEA;
$AH-logo-blue: #00B5CB;
$AH-logo-yellow: #FFEA00;
$AH-logo-orange: #F8981D;
